<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="jumbotron">
      <h1 class="display-4">{{ title }}</h1>
      <p class="lead">Logs and Rankings</p>
      <hr class="my-4">
      <p>You can choose which data you want to see below</p>
      <p class="lead">
          Logs: <input  type="checkbox" id="log_check" (click)= "togglelogs()">
          Rankings : <input  type="checkbox" id="rank_check" (click)= "toggleRankings()">
      </p>
    </div>
  <div>
   
   
  </div>
  
  <div *ngIf= "show_log" > 
    <app-logs></app-logs>
  </div>
  <div *ngIf= "show_rankings">
    <app-rankings></app-rankings>
  </div>

  
</div>

